## Haiti Health Data Analysis

You are an analyst working at a health research company in Haiti.  The government has asked your company to analyze data related to covid-19.  To that end, they have provided you with access to health data.

Your goal as a Data Manager is to provide
*  Relational Database to manage all the data collection
* Use SQL Language to answers some query provided from the Board
* Build a dashboard with Power BI to illustrate all the activites of covid

### Install Requirements

In [1]:
!pip3 install sqlalchemy
!pip3 install psycopg2-binary

Requirement already satisfied: sqlalchemy in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (1.3.20)
Requirement already satisfied: psycopg2-binary in /Users/kesnel/opt/anaconda3/lib/python3.8/site-packages (2.9.1)

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
# MySql dependencies
import sqlalchemy as sqla
import psycopg2

In [4]:
# MySql Engine connection

username = "bootcamp_aa"
password = "bootcamp_aa"
hostname = "localhost"
port = "5432"
db = "health_research_company"

connect_str = f"postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}"

engine = sqla.create_engine(connect_str)

engine.connect

### Here all the dataset used for this project

In [5]:
covid_cases = pd.read_csv("./datasets/mspp_covid19_cases.csv")
display(covid_cases)
covid_cases.info()

,Unnamed: 0,departement,cas_suspects,cas_confirmes,deces,taux_de_letalite,document_date
0,0,Artibonite,47,4,0,0.00,2020-04-15
1,1,Centre,14,1,0,0.00,2020-04-15
2,2,Grande'Anse,2,0,0,0.00,2020-04-15
3,3,Nippes,16,2,0,0.00,2020-04-15
4,4,Nord,28,0,0,0.00,2020-04-15
...,...,...,...,...,...,...,...
94,94,Nord-Ouest,6,1,0,0.00,2020-04-07
95,95,Ouest,196,18,1,0.06,2020-04-07
96,96,Sud,6,0,0,0.00,2020-04-07
97,97,Sud-Est,21,4,0,0.00,2020-04-07
98,98,Grand Total,291,27,1,0.04,2020-04-07

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        99 non-null     int64
 1   departement       99 non-null     object
 2   cas_suspects      99 non-null     int64
 3   cas_confirmes     99 non-null     int64
 4   deces             99 non-null     int64
 5   taux_de_letalite  99 non-null     float64
 6   document_date     99 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 5.5+ KB

In [6]:
spa = pd.read_csv("./datasets/spa.csv")
display(spa.head(5))
display(spa.info())
map_dict = {1: 'public',2: 'private non profit',3: 'private with profit',4 : 'private and public'}
map_dict

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,3,1.0,NaN,3.0,5.0
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,1,1.0,25.0,3.0,18.0
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,3,1.0,201.0,1.0,141.0
3,3,3,4,1,Ouest,11,Port-Au-Prince,5.0,CENTRE DE SANTE AVEC LIT,CENTRE DE SANTE AVEC LIT,3,1.0,7.0,3.0,13.0
4,4,4,5,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,2,1.0,NaN,3.0,10.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1033 non-null   int64
 1   index               1033 non-null   int64
 2   facil               1033 non-null   int64
 3   depart              1033 non-null   int64
 4   departn             1033 non-null   object
 5   vilcom              1033 non-null   int64
 6   vilcomn             1033 non-null   object
 7   factype             1033 non-null   float64
 8   facdesc_1           1033 non-null   object
 9   facdesc             1033 non-null   object
 10  mga                 1033 non-null   int64
 11  service_laboratory  1007 non-null   float64
 12  num_beds            474 non-null    float64
 13  ambulance           1007 non-null   float64
 14  full_time           1007 non-null   float64
dtypes: float64(5), int64(6), object(4)
memory usage: 121.2+ KB

None

{1: 'public',
 2: 'private non profit',
 3: 'private with profit',
 4: 'private and public'}

#### SPA - Data Cleaning

In [7]:
spa[['mga']].value_counts()

mga
1      350
3      315
4      190
2      178
dtype: int64

In [8]:
# Replace MGA values with the map Dict
spa = spa.replace({"mga": map_dict})

In [9]:
spa[['mga']] = spa.mga.apply(str)

In [10]:
spa[['mga']].dtypes

mga    object
dtype: object

In [11]:
spa.head(3)

,Unnamed: 0,index,facil,depart,departn,vilcom,vilcomn,factype,facdesc_1,facdesc,mga,service_laboratory,num_beds,ambulance,full_time
0,0,0,1,1,Ouest,11,Port-Au-Prince,7.0,DISPENSAIRE,DISPENSAIRE,private with profit,1.0,NaN,3.0,5.0
1,1,1,2,1,Ouest,11,Port-Au-Prince,3.0,HOPITAL,HOPITAL COMMUNAUTAIRE DE REFERENCE,public,1.0,25.0,3.0,18.0
2,2,2,3,1,Ouest,11,Port-Au-Prince,6.0,CENTRE DE SANTE SANS LIT,CENTRE DE SANTE SANS LIT,private with profit,1.0,201.0,1.0,141.0

In [12]:
departement = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=1)
commune  = pd.read_excel("./datasets/hti_adminboundaries_tabulardata.xlsx",sheet_name=2)
display(departement.head(5))
display(departement.info())
display(commune.head(5))
display(commune.info())
display(commune.shape)

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,5.010206e+06,2587360,2422846
1,HT,Haiti,Haïti,Ayiti,HT02,South-East,Sud-Est,Sidès,8.939007e+05,448111,445790
2,HT,Haiti,Haïti,Ayiti,HT03,North,Nord,Nò,1.159762e+06,589825,569932
3,HT,Haiti,Haïti,Ayiti,HT04,North-East,Nord-Est,Nòdès,4.444631e+05,221501,222966
4,HT,Haiti,Haïti,Ayiti,HT05,Artibonite,Artibonite,Latibonit,2.047153e+06,1034065,1013085

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                10 non-null     object
 1   adm0_en                 10 non-null     object
 2   adm0_fr                 10 non-null     object
 3   adm0_ht                 10 non-null     object
 4   adm1code                10 non-null     object
 5   adm1_en                 10 non-null     object
 6   adm1_fr                 10 non-null     object
 7   adm1_ht                 10 non-null     object
 8   IHSI_UNFPA_2019         10 non-null     float64
 9   IHSI_UNFPA_2019_female  10 non-null     int64
 10  IHSI_UNFPA_2019_male    10 non-null     int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1008.0+ bytes

None

,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,1.227540e+06,648353,579188
1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,4.914342e+05,258526,232908
2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,6.357646e+05,333500,302263
3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0114,Petion-Ville,Pétion-Ville,,4.685251e+05,241407,227118
4,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0115,Kenscoff,Kenscoff,,7.140848e+04,35608,35800

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   adm0code                140 non-null    object
 1   adm0_en                 140 non-null    object
 2   adm0_fr                 140 non-null    object
 3   adm0_ht                 140 non-null    object
 4   adm1code                140 non-null    object
 5   adm1_en                 140 non-null    object
 6   adm1_fr                 140 non-null    object
 7   adm1_ht                 140 non-null    object
 8   adm2code                140 non-null    object
 9   adm2_en                 140 non-null    object
 10  adm2_fr                 140 non-null    object
 11  adm2_ht                 140 non-null    object
 12  IHSI_UNFPA_2019         140 non-null    float64
 13  IHSI_UNFPA_2019_female  140 non-null    int64
 14  IHSI_UNFPA_2019_male    140 non-null    int64
dtypes: float64(1), int64(2), object(12)
memory usage: 16.5+ KB

None

(140, 15)

# Questions

* Question 1: Create a relational database with this raw data set.
* Question 2. Calculate the number of health facilities per commune. 
* Question 3. Calculate the number of health facilities by commune and by type of health facility.
* Question 4. Calculate the number of health facilities by municipality and by department.
* Question 5: Calculate the number of sites by type (mga) and by department.
* Question 6: Calculate the number of sites with an ambulance by commune and by department (ambulance = 1.0).
* Question 7. Calculate the number of hospitals per 10k inhabitants by department.
* Question 8. Calculate the number of sites per 10k inhabitants per department * Question 9.
* Question 9: Calculate the number of beb per 1,000 inhabitants per department.
* Question 10.How many communes have fewer dispensaries than hospitals?
* Question 11 How many  Letality rate per month
* Question 12 How many Death rate per month 
* Question 13 How many Prevalence per month 
* Question 14 How many Prevalence by department
* Question 15 What is the variation of the prevalence per week
* Question 16. Build a Power BI dashboard to understand the health structures in Hait

### Your Goal as  a Data Management is to

In [13]:
# Export Data to Mysql tables
covid_cases.to_sql(
    "covid_cases",
    engine,
    index=False,
    if_exists="append"
)
spa.to_sql(
    "spa",
    engine,
    index=False,
    if_exists="append"
)
departement.to_sql(
    "departement",
    engine,
    index=False,
    if_exists="append"
)
departement.to_sql(
    "departement",
    engine,
    index=False,
    if_exists="append"
)
commune.to_sql(
    "commune",
    engine,
    index=False,
    if_exists="append"
)